.description {
    margin: 100px 0;
}
.description__two-columns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.description__two-columns-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    width: 80%;
    min-width: 784px;
}
.description__two-columns-brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}
.description__two-columns-text {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}
