.footer {
    display: flex;
    min-height: 350px;
    background-color: #1f1f1f;
}
.footer__logo_place_footer {
    width: 183px;
    height: 35px;
}
.footer__author {
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
}
.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 60px auto 40px;
}
.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}
.footer__column-heading {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer__social-icons {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.footer__column-link {
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    padding: 0;
}
