.kaufman {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #1f1f1f;
    overflow: hidden;
}
.kaufman__title_theme_dark {
    width: 60%;
    margin: 90px auto 20px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    color: white;
    z-index: 1;
}
.kaufman__subtitle_theme_dark {
    width: 60%;
    margin: 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    z-index: 1;
}
.kaufman__table_theme_dark {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 90px;
    justify-content: space-between;
    z-index: 1;
}
.kaufman__table-cell_theme_dark {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
.kaufman__table-heading_theme_dark {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}
.kaufman__table-text_theme_dark {
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}
